# Exclude everything from being counted
* linguist-vendored

# Un-ignore the Assets directory
!/Assets/

# Un-ignore the Scripts directory within Assets
!/Assets/Scripts/

# Un-ignore all files and subdirectories in Assets/Scripts
!/Assets/Scripts/**
